.movies_row_wrapper {
    display: flex;
}
.movies_row_container {
    margin: 2px;
}
.movies_row_container > img {
    height: 250px;
}
.movies_row_container > img:hover {
    transition: transform 0.5s;
    transform: scale(1.2);
}